body{
    background-color: black;
    margin-top: 17%;
}
.neon-text {
    font-size: 48px;
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 30px #fff,
                 0 0 40px #ffff00,
                 0 0 70px #ffff00,
                 0 0 80px #ffff00,
                 0 0 100px #FFFF00,
                 0 0 150px #ffff00;
}